$color-primary: #0b2239;
$color-secondary: #0e2a47;
$default-font-size: 1.6rem;
$header-height: 5rem;
$shadow-sm:  rgb(0 0 0 / 49%) 0px 1px 3px;
$primary-font: "Coiny", cursive;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);